.list__item{
   display: flex;
   flex-direction: column;
   padding: 10px;
   border: 1px solid rgb(201, 195, 195);
   width: 300px;
   margin: 0 50px 50px 0;
   border-radius: 5px ;
   align-items: center;
   background-color: rgb(218, 197, 197);
}
.list__item div{
   margin:  0 0 10px 0;
}
.list{
   display: flex;
   max-width: 100%;
   flex-wrap: wrap;
   margin: 0 auto;
   font-family: 'Courier New', Courier, monospace;
   justify-content: center;
}
.bolder{
   font-weight: 600;
   text-transform: uppercase;
}